body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1257px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:811px;
}
#u574 {
  position:absolute;
  left:41px;
  top:18px;
  width:369px;
  height:811px;
}
#u575 {
  position:absolute;
  left:2px;
  top:398px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:167px;
}
#u576 {
  position:absolute;
  left:177px;
  top:567px;
  width:489px;
  height:167px;
}
#u577 {
  position:absolute;
  left:2px;
  top:76px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:313px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u578 {
  position:absolute;
  left:435px;
  top:153px;
  width:231px;
  height:313px;
}
#u579 {
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u580 {
  position:absolute;
  left:757px;
  top:0px;
  width:500px;
  height:889px;
}
#u581 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:153px;
}
#u582 {
  position:absolute;
  left:686px;
  top:567px;
  width:479px;
  height:153px;
}
#u583 {
  position:absolute;
  left:2px;
  top:68px;
  width:475px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584 {
  position:absolute;
  left:534px;
  top:342px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u584_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:212px;
}
#u584_seg1 {
  position:absolute;
  left:-4px;
  top:204px;
  width:399px;
  height:8px;
}
#u584_seg2 {
  position:absolute;
  left:387px;
  top:204px;
  width:8px;
  height:46px;
}
#u584_seg3 {
  position:absolute;
  left:381px;
  top:237px;
  width:20px;
  height:20px;
}
#u585 {
  position:absolute;
  left:62px;
  top:200px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586 {
  position:absolute;
  left:567px;
  top:312px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u586_seg0 {
  position:absolute;
  left:-4px;
  top:-13px;
  width:8px;
  height:13px;
}
#u586_seg1 {
  position:absolute;
  left:-4px;
  top:-13px;
  width:264px;
  height:8px;
}
#u586_seg2 {
  position:absolute;
  left:247px;
  top:-19px;
  width:20px;
  height:20px;
}
#u587 {
  position:absolute;
  left:76px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
