body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u133 {
  position:absolute;
  left:28px;
  top:25px;
  width:50px;
  height:50px;
}
#u134 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:25px;
  top:85px;
  width:57px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:151px;
  top:132px;
  width:100px;
  height:50px;
}
#u138 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:573px;
  top:382px;
  width:100px;
  height:50px;
}
#u140 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:828px;
  top:382px;
  width:100px;
  height:50px;
}
#u142 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:78px;
  top:50px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u143_seg1 {
  position:absolute;
  left:119px;
  top:-4px;
  width:8px;
  height:86px;
}
#u143_seg2 {
  position:absolute;
  left:113px;
  top:69px;
  width:20px;
  height:20px;
}
#u144 {
  position:absolute;
  left:52px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:673px;
  top:407px;
  width:0px;
  height:0px;
}
#u145_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u145_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:20px;
  height:20px;
}
#u146 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:828px;
  top:569px;
  width:100px;
  height:50px;
}
#u148 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:878px;
  top:432px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:141px;
}
#u149_seg1 {
  position:absolute;
  left:-10px;
  top:124px;
  width:20px;
  height:20px;
}
#u150 {
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u152 {
  position:absolute;
  left:1298px;
  top:1256px;
  width:50px;
  height:50px;
}
#u153 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:1295px;
  top:1316px;
  width:57px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:201px;
  top:182px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u156_seg1 {
  position:absolute;
  left:-10px;
  top:77px;
  width:20px;
  height:20px;
}
#u157 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u158 {
  position:absolute;
  left:1052px;
  top:564px;
  width:100px;
  height:60px;
}
#u159 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:928px;
  top:594px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u160_seg1 {
  position:absolute;
  left:111px;
  top:-10px;
  width:20px;
  height:20px;
}
#u161 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:1273px;
  top:569px;
  width:100px;
  height:50px;
}
#u163 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1152px;
  top:594px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u164_seg1 {
  position:absolute;
  left:36px;
  top:-48px;
  width:8px;
  height:52px;
}
#u164_seg2 {
  position:absolute;
  left:36px;
  top:-48px;
  width:139px;
  height:8px;
}
#u164_seg3 {
  position:absolute;
  left:167px;
  top:-48px;
  width:8px;
  height:23px;
}
#u164_seg4 {
  position:absolute;
  left:161px;
  top:-38px;
  width:20px;
  height:20px;
}
#u165 {
  position:absolute;
  left:23px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(96, 175, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u166 {
  position:absolute;
  left:1333px;
  top:620px;
  width:142px;
  height:24px;
  text-align:left;
}
#u167 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(96, 175, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u168 {
  position:absolute;
  left:1333px;
  top:645px;
  width:142px;
  height:24px;
  text-align:left;
}
#u169 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u170 {
  position:absolute;
  left:1274px;
  top:887px;
  width:100px;
  height:60px;
}
#u171 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:1273px;
  top:1054px;
  width:100px;
  height:50px;
}
#u173 {
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(96, 175, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u174 {
  position:absolute;
  left:1333px;
  top:1105px;
  width:142px;
  height:24px;
  text-align:left;
}
#u175 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(96, 175, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u176 {
  position:absolute;
  left:1333px;
  top:1130px;
  width:142px;
  height:24px;
  text-align:left;
}
#u177 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1324px;
  top:947px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u178_seg1 {
  position:absolute;
  left:-5px;
  top:89px;
  width:9px;
  height:8px;
}
#u178_seg2 {
  position:absolute;
  left:-5px;
  top:89px;
  width:8px;
  height:18px;
}
#u178_seg3 {
  position:absolute;
  left:-11px;
  top:94px;
  width:20px;
  height:20px;
}
#u179 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u180 {
  position:absolute;
  left:630px;
  top:433px;
  width:142px;
  height:24px;
  text-align:left;
}
#u181 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u182 {
  position:absolute;
  left:630px;
  top:458px;
  width:142px;
  height:24px;
  text-align:left;
}
#u183 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u184 {
  position:absolute;
  left:890px;
  top:620px;
  width:142px;
  height:24px;
  text-align:left;
}
#u185 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u186 {
  position:absolute;
  left:890px;
  top:645px;
  width:142px;
  height:24px;
  text-align:left;
}
#u187 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:1323px;
  top:1104px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:156px;
}
#u188_seg1 {
  position:absolute;
  left:-10px;
  top:139px;
  width:20px;
  height:20px;
}
#u189 {
  position:absolute;
  left:-50px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  position:absolute;
  left:828px;
  top:702px;
  width:100px;
  height:50px;
}
#u191 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 217, 200, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  position:absolute;
  left:828px;
  top:792px;
  width:100px;
  height:50px;
}
#u193 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 217, 200, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:828px;
  top:876px;
  width:100px;
  height:50px;
}
#u195 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u196 {
  position:absolute;
  left:510px;
  top:1077px;
  width:142px;
  height:24px;
  text-align:left;
}
#u197 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u198 {
  position:absolute;
  left:510px;
  top:1102px;
  width:142px;
  height:24px;
  text-align:left;
}
#u199 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:817px;
  top:1165px;
  width:100px;
  height:50px;
}
#u201 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u202 {
  position:absolute;
  left:879px;
  top:1216px;
  width:142px;
  height:24px;
  text-align:left;
}
#u203 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u204 {
  position:absolute;
  left:879px;
  top:1241px;
  width:142px;
  height:24px;
  text-align:left;
}
#u205 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:867px;
  top:1063px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:106px;
}
#u206_seg1 {
  position:absolute;
  left:-10px;
  top:89px;
  width:20px;
  height:20px;
}
#u207 {
  position:absolute;
  left:-50px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:867px;
  top:1215px;
  width:0px;
  height:0px;
}
#u208_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u208_seg1 {
  position:absolute;
  left:-4px;
  top:62px;
  width:435px;
  height:8px;
}
#u208_seg2 {
  position:absolute;
  left:418px;
  top:56px;
  width:20px;
  height:20px;
}
#u209 {
  position:absolute;
  left:132px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  position:absolute;
  left:1273px;
  top:742px;
  width:100px;
  height:50px;
}
#u211 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1323px;
  top:619px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:127px;
}
#u212_seg1 {
  position:absolute;
  left:-10px;
  top:110px;
  width:20px;
  height:20px;
}
#u213 {
  position:absolute;
  left:-50px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:1486px;
  top:742px;
  width:100px;
  height:50px;
}
#u215 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1373px;
  top:767px;
  width:0px;
  height:0px;
}
#u216_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u216_seg1 {
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u217 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1536px;
  top:792px;
  width:0px;
  height:0px;
}
#u218_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u218_seg1 {
  position:absolute;
  left:-216px;
  top:51px;
  width:220px;
  height:8px;
}
#u218_seg2 {
  position:absolute;
  left:-216px;
  top:51px;
  width:8px;
  height:44px;
}
#u218_seg3 {
  position:absolute;
  left:-222px;
  top:82px;
  width:20px;
  height:20px;
}
#u219 {
  position:absolute;
  left:-148px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:1274px;
  top:917px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  position:absolute;
  left:-28px;
  top:-4px;
  width:28px;
  height:8px;
}
#u220_seg1 {
  position:absolute;
  left:-28px;
  top:-327px;
  width:8px;
  height:331px;
}
#u220_seg2 {
  position:absolute;
  left:-28px;
  top:-327px;
  width:27px;
  height:8px;
}
#u220_seg3 {
  position:absolute;
  left:-14px;
  top:-333px;
  width:20px;
  height:20px;
}
#u221 {
  position:absolute;
  left:-74px;
  top:-170px;
  width:100px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:1102px;
  top:624px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:107px;
}
#u222_seg1 {
  position:absolute;
  left:-174px;
  top:99px;
  width:178px;
  height:8px;
}
#u222_seg2 {
  position:absolute;
  left:-181px;
  top:93px;
  width:20px;
  height:20px;
}
#u223 {
  position:absolute;
  left:-86px;
  top:94px;
  width:100px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:878px;
  top:842px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u225 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:253px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u226 {
  position:absolute;
  left:1628px;
  top:539px;
  width:244px;
  height:253px;
}
#u227 {
  position:absolute;
  left:10px;
  top:10px;
  width:224px;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:69px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u228 {
  position:absolute;
  left:1549px;
  top:792px;
  width:142px;
  height:69px;
  text-align:left;
}
#u229 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:917px;
  top:1190px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:208px;
  height:8px;
}
#u230_seg1 {
  position:absolute;
  left:200px;
  top:-582px;
  width:8px;
  height:586px;
}
#u230_seg2 {
  position:absolute;
  left:194px;
  top:-589px;
  width:20px;
  height:20px;
}
#u231 {
  position:absolute;
  left:154px;
  top:-197px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:151px;
  top:272px;
  width:100px;
  height:50px;
}
#u233 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:367px;
  top:382px;
  width:100px;
  height:50px;
}
#u235 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u236 {
  position:absolute;
  left:151px;
  top:377px;
  width:100px;
  height:60px;
}
#u237 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:201px;
  top:322px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u238_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u239 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:251px;
  top:407px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u240_seg1 {
  position:absolute;
  left:103px;
  top:-10px;
  width:20px;
  height:20px;
}
#u241 {
  position:absolute;
  left:8px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:467px;
  top:407px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u242_seg1 {
  position:absolute;
  left:93px;
  top:-10px;
  width:20px;
  height:20px;
}
#u243 {
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:151px;
  top:407px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:63px;
  height:8px;
}
#u244_seg1 {
  position:absolute;
  left:-63px;
  top:-114px;
  width:8px;
  height:118px;
}
#u244_seg2 {
  position:absolute;
  left:-63px;
  top:-114px;
  width:63px;
  height:8px;
}
#u244_seg3 {
  position:absolute;
  left:-13px;
  top:-120px;
  width:20px;
  height:20px;
}
#u245 {
  position:absolute;
  left:-109px;
  top:-64px;
  width:100px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  position:absolute;
  left:15px;
  top:286px;
  width:99px;
  height:36px;
  opacity:0.75;
}
#u248 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:22px;
  top:296px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  position:absolute;
  left:455px;
  top:1027px;
  width:100px;
  height:50px;
}
#u252 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:641px;
  top:876px;
  width:100px;
  height:50px;
}
#u254 {
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:455px;
  top:876px;
  width:100px;
  height:50px;
}
#u256 {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:878px;
  top:752px;
  width:0px;
  height:0px;
}
#u257_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u257_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u258 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:828px;
  top:901px;
  width:0px;
  height:0px;
}
#u259_seg0 {
  position:absolute;
  left:-87px;
  top:-4px;
  width:91px;
  height:8px;
}
#u259_seg1 {
  position:absolute;
  left:-94px;
  top:-10px;
  width:20px;
  height:20px;
}
#u260 {
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:641px;
  top:901px;
  width:0px;
  height:0px;
}
#u261_seg0 {
  position:absolute;
  left:-86px;
  top:-4px;
  width:90px;
  height:8px;
}
#u261_seg1 {
  position:absolute;
  left:-93px;
  top:-10px;
  width:20px;
  height:20px;
}
#u262 {
  position:absolute;
  left:-93px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:505px;
  top:936px;
  width:0px;
  height:0px;
}
#u263_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u263_seg1 {
  position:absolute;
  left:-10px;
  top:78px;
  width:20px;
  height:20px;
}
#u264 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:555px;
  top:1052px;
  width:0px;
  height:0px;
}
#u265_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:316px;
  height:8px;
}
#u265_seg1 {
  position:absolute;
  left:308px;
  top:-4px;
  width:8px;
  height:117px;
}
#u265_seg2 {
  position:absolute;
  left:302px;
  top:100px;
  width:20px;
  height:20px;
}
#u266 {
  position:absolute;
  left:162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:292px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u267 {
  position:absolute;
  left:204px;
  top:742px;
  width:228px;
  height:292px;
}
#u268 {
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
